<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div id="content">
      <table>
        <tr>
          <th>Rank</th>
          <th>Frequency</th>
          <th>Causue of Death</th>
        </tr>
        {% for death in deaths %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ death.frequency }}</td>
                <td>{{ death.message }}</td>
              </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
