<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div id="content">
      <table>
        <tr>
          <th>Rank</th>
          <th>Frequency</th>
          <th>{{ name }}</th>
        </tr>
        {% for item in items %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ item.frequency }}</td>
              <td>{{ item.value }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
