<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div id="content">
      <table>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
          <th>Species</th>
          <th>Background</th>
          <th>God</th>
          <th>XL</th>
          <th>Runes</th>
          <th>Turns</th>
          <th>Duration (realtime)</th>
        </tr>
        {% for game in games %}
          {% if game.victory %}
            {% if game.runes == 15 %}
              <tr class="victory15">
            {% else %}
              <tr class="victory">
            {% endif %}
          {% else %}
              <tr>
          {% endif %}
                <td>{{ loop.index }}</td>
                <td><span title="{{ game.real_name }}">{{ game.name }}</span></td>
                <td>{{ game.score }}</td>
                <td>{{ game.species }}</td>
                <td>{{ game.background }}</td>
                <td>{{ game.god }}</td>
                <td>{{ game.xl }}</td>
                <td>{{ game.runes }}</td>
                <td>{{ game.turns }}</td>
                <td>{{ game.duration }}</td>
              </tr>
        {% endfor %}
      </table>
      Matched <strong>{{ matched_count }}</strong> out of <strong>{{ total_count }}</strong> games.
    </div>
  </body>
</html>
