<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div id="content">
      <table>
        <tr>
          <th>Rank</th>
          <th>Frequency</th>
          <th>Species</th>
        </tr>
        {% for a_species in species %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ a_species.frequency }}</td>
                <td>{{ a_species.species }}</td>
              </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
