<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div id="content">
      <h1>Favorite Species</h1>
      {{ fav_species }}
      <h1>Favorite Background</h1>
      {{ fav_background }}
      <h1>Favorite Combo</h1>
      {{ fav_combo }}
      <h1>Favorite God</h1>
      {{ fav_god }}
      <h1>Nemesis</h1>
      {{ nemesis }}
      <h1>Favorite Place to Die</h1>
      {{ death_spot }}
      <h1>Games</h1>
      {{ wins }} <a href="/?name={{ name }}&victory=true">wins</a>, {{ games }} <a href="/?name={{ name }}">games</a> ({{ winrate }}%)
      <h1>Total Runes</h1>
      {{ num_runes }}
    </div>
  </body>
</html>
